# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT
{{- if .Values.heimdall.enabled }}
---
apiVersion: heimdall.dadrus.github.com/v1alpha4
kind: RuleSet
metadata:
  name: lfx-v2-access-check
  namespace: {{ .Release.Namespace }}
spec:
  rules:
    - id: "rule:lfx-v2-access-check:access-check"
      match:
        methods:
          - POST
        routes:
          - path: /access-check
      execute:
        - authenticator: anonymous_authenticator
        - authorizer: allow_all
        - finalizer: create_jwt
          config:
            values:
              aud: {{ .Values.app.audience }}
{{- end }}
