# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Service
metadata:
  name: lfx-v2-access-check
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: web
      port: {{ .Values.app.port | int }}
      targetPort: web
  selector:
    app: lfx-v2-access-check
