# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT
---
replicaCount: 3

lfx:
  domain: k8s.orb.local

# Override from CLI/CI: --set image.tag=<git-sha>, etc.
image:
  repository: ghcr.io/linuxfoundation/lfx-v2-access-check/lfx-access-check
  pullPolicy: IfNotPresent
  # Container image tag, Defaults to appVersion from Chart.yaml if not set
  tag: ""

# Application configuration
app:
  # Server configuration
  port: 8080
  host: "*"
  debug: false

  # JWT/Auth configuration
  audience: "lfx-v2-access-check"
  issuer: "heimdall"

  # Resource limits and requests
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

# HTTP routing configuration
traefik:
  enabled: true
  gateway:
    name: lfx-platform-gateway
    namespace: lfx

# nats is the configuration for the NATS server
nats:
  # url is the URL of the NATS server
  url: nats://lfx-platform-nats.lfx.svc.cluster.local:4222

# heimdall is the configuration for the heimdall middleware
heimdall:
  enabled: true
  url: http://lfx-platform-heimdall.lfx.svc.cluster.local:4456
  jwks_url: http://lfx-platform-heimdall:4457/.well-known/jwks
